<link rel="stylesheet" type="text/css" href="../assets/stylesheet.css">
<script type="text/javascript" src="../scripts/testScript.js">  </script>
<script type="text/javascript" src="../scripts/sortAlpabetList.js">  </script>


<h1 id="title">A Hospital Information Web Application (UK)</h1>





{{#each hospitalList}}
    <ul id="sortListAlpha" onload="sortList()">
        <li>
            <a href="index/{{id}}/{{name}}"> {{name}}</a>
        </li>
    </ul>
{{/each }}
</div>