<link rel="stylesheet" type="text/css" href="../assets/stylesheet.css">
<script type="text/javascript" src="../scripts/testScript.js">  </script>


<h1 id="title">A Hospital Information Web Application (UK)</h1>

    <div class="navbar">

        <a href="\about">About</a>
        <button onclick="confirmTest()">test</button>

            <div id="filterHeader">
                <!-- Selction of County -->
                <div class="dropdown">
                    <button class="dropbtn">County <i class="fa fa-caret-down"></i> </button>
                    <div class="dropdown-content" id="county">
                        <a href="execute query">Avon</a>
                        <a href="execute query">Bedforshire</a>
                        <a href="execute query">Berkshire</a>
                        <a href="execute query">Buckinghamshire</a>
                        <a href="execute query">Cambridgeshire</a>
                        <a href="execute query">Cheshire</a>
                        <a href="execute query">Cleveland</a>
                        <a href="execute query">Cornwall</a>
                        <a href="execute query">County Durham</a>
                        <a href="execute query">Bedforshire</a>
                        <a href="execute query">Cumbria</a>
                        <a href="execute query">Derbyshire</a>
                        <a href="execute query">Devon</a>
                        <a href="execute query">Dorset</a>
                        <a href="execute query">Durham</a>
                        <a href="execute query">Bedforshire</a>
                        <a href="execute query">East Sussex</a>
                        <a href="execute query">East Yorkshire</a>
                        <a href="execute query">Bedforshire</a>
                        <a href="execute query">Essex</a>
                        <a href="execute query">Gloucestershire</a>
                        <a href="execute query">Greater London</a>
                        <a href="execute query">Greater Manchester</a>
                        <a href="execute query">Hampshire</a>
                        <a href="execute query">Herefordshire</a>
                        <a href="execute query">Hertfordshire</a>
                        <a href="execute query">Kent</a>
                        <a href="execute query">King's Lynn</a>
                        <a href="execute query">Lancashire</a>
                        <a href="execute query">Leichestershire</a>
                        <a href="execute query">Lincolnshire</a>
                        <a href="execute query">Merseyside</a>
                        <a href="execute query">Middlesex</a>
                        <a href="execute query">Norfolk</a>
                        <a href="execute query">North Humberside</a>
                        <a href="execute query">North Yorkshire</a>
                        <a href="execute query">Northamptonshire</a>
                        <a href="execute query">Northumberland</a>
                        <a href="execute query">Norwich</a>
                        <a href="execute query">Nottinghamshire</a>
                        <a href="execute query">Oxfordshire</a>
                        <a href="execute query">Shropshire</a>
                        <a href="execute query">Somerset</a>
                        <a href="execute query">South Yorkshire</a>
                        <a href="execute query">Staffordshire</a>
                        <a href="execute query">Suffolk</a>
                        <a href="execute query">Surrey</a>
                        <a href="execute query">Sussex</a>
                        <a href="execute query">Tyne and Wear</a>
                        <a href="execute query">Warwickshire</a>
                        <a href="execute query">West Midlands</a>
                        <a href="execute query">West Sussex</a>
                        <a href="execute query">West Yorkshire</a>
                        <a href="execute query">Wiltshire</a>
                        <a href="execute query">Worcestershire</a>
                        <a href="execute query">Yorkshire</a>
                        <a href="execute query">Yorkshire (East Riding)</a>

                    </div>
                </div>

                <!-- Selction of Sector -->
               <div class="dropdown">
                   <button class="dropbtn">Sector <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content" id="sector">
                    <a href="execute query">National Health Service (NHS)</a>
                    <a href="execute query"> Independant Sector</a>

                </div>
               </div>

                <!-- Selction of Mental Hospital -->
            <div class="dropdown">
                <button class="dropbtn">Mental Hospitals <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content" id="mentalHosptial">
                    <a href="execute query">Yes</a>
                    <a href="execute query">No</a>

                </div>
            </div>
        </div>

        {{#each hospitalList}}
         <ul>
           <li>
             <a href="index/{{name}}">Name: {{name}}</a>
           </li>
         </ul>
        {{/each }}
    </div>
